
<!-- {{userInfo.success}}
{{userInfo.data.email}} -->
<div class="container-fluid">
    <h3>Profile</h3>
    <p>Employment details.</p>
    <div class="row">
        <div class="col-md-12">
            <div class="card p-3">
                <span>Name: <b>{{employeeInfo.name}}</b></span>
                <span>Phone: {{employeeInfo.phone}}</span>
                <span>Email: {{userInfo.email}}</span>
                <span>Designation: {{employeeInfo.designation}}</span>
                <span>Department: {{employeeInfo.department}}</span>
                <span>Type: {{employeeInfo.type}}</span>
                <span>Joining Date: {{employeeInfo.joiningDate}}</span>
                <span>Status: {{employeeInfo.status}}</span>
                <h6>Access: {{userInfo.roles}}</h6>
            </div>
        </div>
    </div>
</div>
