<div class="bg-light sidebar p-3" style="width: 240px; min-height: 100vh;">
  <div class="mb-4 text-center">
    <img src="assets/logo.png" alt="logo" style="max-width:120px;">
  </div>

  <ul class="nav flex-column">
    <li class="nav-item">
      <a routerLink="/" routerLinkActive="active" class="nav-link" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink="/other" routerLinkActive="active" class="nav-link">Other Page</a>
    </li>
  </ul>
</div>
